.nav {
  position: relative;

  .container {
    @include flex(center, space-between);
    padding-block: 20px;
  }

  &__logo {
    img {
      width: 50px;
      height: 50px;

      @include md {
        width: auto;
        height: auto;
      }
      @include lg {
        width: auto;
        height: auto;
      }
    }
  }

  &__links {
    @include flex(center, center);
    gap: 10px;
  }
  &__link--seperator {
    color: $black-20;
    font-size: 0.7rem;
  }
}
