.list {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 40px;
  padding-bottom: 50px;
  margin-top: 30px;

  @include md {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  @include lg {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .spread {
    @include md {
      grid-column: 1 / 4;
    }
    @include lg {
      grid-column: 1 / 4;
    }
  }
}
.skeleton-loader {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 40px;
  padding-bottom: 50px;
  margin-top: 30px;

  @include md {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  @include lg {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
